Konfirmasi registrasi untuk TimeOff.Management
=====
<p>Halo {{name}},</p>

<p>Untuk menyelesaikan proses registrasi di TimeOff.Management silakan klik pada pranala berikut:</p>

<p>{{confirm_registration_link}}</p>

<p>Terima kasih</p>
