Permohonan cuti menunggu keputusan
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{>leave_request_detail leave=leave }} Pembatalan</strong> Permohonan cuti Anda telah dikirim ke <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>.</p>

<p>Akan ada surel lagi setelah keputusan dibuat.</p>

<p>Terima kasih</p>
