Permohonan cuti baru telah ditambahkan dan telah disetujui otomatis
=====
<p>Halo <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}}</strong> menambahkan permohonan cuti baru <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Tidak perlu untuk menyetujui/menolak permohonan cuti dari {{#with requester}}{{this.full_name}}{{/with}}.</p>

<p>Terima kasih</p>
