Pembatalan permohonan cuti
=====
<p>Halo {{#with approver }}{{this.full_name}}{{/with}},</p>

<p><strong>{{#with requester}}{{this.full_name}}{{/with}} membatalkan</strong> permohonan cuti <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Anda tidak perlu melakukan apa-apa.</p>

<p>Terima kasih</p>
