Permohonan cuti baru telah ditambahkan
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Cuti baru <strong>{{>leave_request_detail leave=leave }}</strong> Anda telah ditambahkan dan disetujui secara otomatis.</p>

<p>Terima kasih</p>
