Permohonan cuti diputuskan
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>{{#with approver }}{{this.full_name}}{{/with}} memutuskan untuk <strong>{{action}}</strong> {{#if was_pended_revoke}}penundaan {{/if}} permohonan cuti Anda <strong>{{>leave_request_detail leave=leave }}</strong>.</p>

<p>Terima kasih</p>
