Permohonan cuti menunggu keputusan
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}},</strong></p>

<p>Permohonan cuti <strong>{{>leave_request_detail leave=leave }} Anda telah dikirim</strong> ke {{#with approver }}{{this.full_name}}{{/with}}.</p>

<p>Akan ada surel lagi setelah keputusan dibuat.</p>

<p>Terima kasih</p>
