Permohonan cuti dicabut
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Permohonan cuti <strong>{{>leave_request_detail leave=leave }}</strong> Anda telah berhasil dicabut.</p>

<p>Terima kasih</p>
