Permohonan cuti dibatalkan
=====
<p>Halo <strong>{{#with requester}}{{this.full_name}}{{/with}}</strong>,</p>

<p>Permohonan cuti Anda <strong>{{>leave_request_detail leave=leave }}</strong> telah <strong>dibatalkan</strong>.</p>

<p>Terima kasih</p>
