Keputusan permohonan cuti telah dibuat
=====
<p>Halo <strong>{{#with approver }}{{this.full_name}}{{/with}}</strong>,<p>

<p>Anda baru saja memproses {{#if was_pended_revoke}}pembatalan {{/if}}permohonan cuti {{>leave_request_detail leave=leave }} untuk {{#with requester}}{{this.full_name}}{{/with}}: menjadi {{action}}.</p>

<p>Terima kasih</p>
