Registrasi selesai
=====
<p>Halo <strong>{{user.name}}</strong>,</p>

<p>Terima kasih telah mendaftarkan akun baru di {{> email/link href=(get_application_domain) text="TimeOff.Management" }}</p>

<p>Terima kasih</p>
