Atur ulang kata sandi untuk TimeOff.Management
=====
{{# with user ~}}
<p>Halo <strong>{{this.name}}</strong>,</p>

<p>Kata sandi Anda untuk {{> email/link href=(get_application_domain) text='TimeOff.Management' }} telah berhasil diubah.</p>

{{~/ with }}

<p>Terima kasih</p>
