
{{> header }}

<h1>Detail untuk {{department.name}}</h1>

<form method="post" action="/settings/departments/delete/{{ department.id }}/">
  <div class="row">
    <div class="col-md-3 lead">
      Detail untuk departemen
    </div>
    <div class="col-md-1 col-md-offset-8">
      <button id="remove_btn" type="submit" class="pull-right btn btn-danger" data-toggle="tooltip" data-placement="top" title="Hapus departemen"><i class="fa fa-trash"></i> Hapus</button>
    </div>
  </div>
</form>

<div class="row">&nbsp;</div>

{{> show_flash_messages }}

<div class="col-md-3 list-group">
  <a href="/settings/departments/edit/{{department.id}}/" class="list-group-item selected-item">Detail umum</a>
  <a href="/users/?department={{ department.id }}" class="list-group-item">Karyawan dari departemen</a>
</div>


{{> department_details/general }}

<div class="row">&nbsp;</div>

{{> footer }}
