
{{> header }}

<div class="jumbotron">
<h1>TimeOff management</h1>
<p class="lead">Manajemen cuti karyawan bersumber terbuka untuk kantor semua ukuran.</p>
<p><a class="btn btn-lg btn-success" href="/register/" role="button">Daftar sekarang</a></p>
<p>atau <em>fork</em> kami di <a href="https://github.com/vpp/vacation-tracker">GitHub</a></p>
</div>

<div class="row marketing">


<div class="col-lg-6">
  <h4>Departemen Kantor</h4>
  <p>Buat departemen untuk mengelompokkan karyawan, dengan manajer masing-masing untuk setiap departemen.</p>

  <h4>Tipe Cuti yang Disesuaikan</h4>
  <p>Libur, Sakit, Hamil, Lahiran, Kerja dari rumah, dll. dengan pengaturan apakah setiap tipe cuti menggunakan jatah atau tidak.</p>

  <h4>Integrasi Kalender</h4>
  <p>Siarkan keadaan karyawan ke dalam kalender: Outlook, Gmail. (Masih dalam pengerjaan)</p>
</div>

<div class="col-lg-6">
  <h4>Hari Libur Nasional yang Disesuaikan</h4>
  <p>Atur hari libur nasional dan tanggal-tanggal spesifik kantor.</p>

  <h4>Alur Kerja Sederhana</h4>
  <p>Karyawan mengajukan permohonan cuti, manajer menyetujui atau tidak.</p>

  <h4></h4>
  <p></p>
</div>
</div>

{{> footer }}
