
{{> header }}

<h1>Laman tak ditemukan</h1>

<div class="row">
  <div class="col-md-10 lead">Maaf, kami tidak dapat menemukan laman yang Anda cari</div>
</div>

<div class="row large-bottom-space"></div>


{{> footer }}
