
{{> header }}

<h1>Impor massal karyawan</h1>

<div class="row">
  <div class="col-md-6 lead">Impor cepat karyawan</div>
  <div class="col-md-6">
    <a class="btn btn-default pull-right" href="/users/add/" id="add_new_department">Tambahkan satu karyawan <i class="fa fa-chevron-right"></i></a>
  </div>

</div>

{{> show_flash_messages }}

<div class="row">
  <div class="col-md-6">
    <ol class="breadcrumb">
      <li><a href="/users/">Semua Karyawan</a></li>
      <li class="active">Impor massal karyawan</li>
    </ol>
  </div>
</div>

<div class="row main-row_header">
  <p class="col-md-12">Lakukan dengan 3 langkah sederhana</p>
</div>

<div class="row">
  <div class="col-md-9 col-md-offset-1">

    <form class="form-horizontal" method="POST" action="/users/import-sample/" id="users_import_sample_form">
      <p class="text-bigger">
        <strong>1.</strong> Unduh contoh berkas <strong>.CSV</strong> berdasarkan karyawan yang saat ini tersedia:
        <button
          type  = "submit"
          id    = "users_import_sample_btn"
          class = "btn btn-success"
          data-content   = "The sample  file contains information about employees who are already in the system. Extend the file to have records about new employees and upload it from the form on left hand side."
          data-placement = "top"
          data-toggle    = "popover"
          data-trigger   = "focus hover"
        ><i class="fa fa-download"></i> Unduh berkas contoh <strong>.CSV</strong></button>
      </p>
    </form>

    <p class="text-bigger">
      <strong>2.</strong> Ubah berkas <strong>.CSV</strong> untuk menambahkan detail karyawan baru.
    </p>

    <p class="text-bigger">
      <strong>3.</strong> Unggah berkas <strong>.CSV</strong>:

      <form action="/users/import/" method="post" role="form" enctype="multipart/form-data" class="panel-body">
        <div class="form-group">
          <input id="users_input_inp" type="file" name="users_import">
        </div>
        <div class="form-group">
          <button class="btn btn-success" id="submit_users_btn" type="submit"><i class="fa fa-upload"></i> Impor karyawan</input>
        </div>
      </form>
    </p>
  </div>
</div>

<div class="row">&nbsp;</div>

{{> footer }}
