
{{> header }}

<h1>Laporan</h1>

<div class="row">
  <div class="col-md-6 lead">Daftar laporan yang tersedia</div>
</div>

{{> show_flash_messages }}

<div class="row">&nbsp;</div>

<div class="row">
  <div class="col-md-4">
    <div class="well well-lg text-center">
      <a class="btn btn-link btn-lg" href="/reports/allowancebytime/">Penggunaan jatah cuti berdasarkan waktu <i class="fa fa-chevron-right"></i></a>
    </div>
  </div>
</div>

{{> footer }}
